<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>HACKDAY</title>
	<link href="/test.css" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/jquery.flot.js"></script>
	<script type="text/javascript">

	$(function() {
		var d1 = [
		{% for timestamp in history: %}
			[{{timestamp}},{{history[timestamp]}}],
		{% endfor %}
		];

		$.plot("#placeholder", [ d1]);

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

	</script>
</head>
<body>
	<div id="header">
		<h2>POOOOO</h2>
		{{history}}
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" style="width:800px; height:500px"></div>
		</div>

		<p>You don't have to do much to get an attractive plot.  Create a placeholder, make sure it has dimensions (so Flot knows at what size to draw the plot), then call the plot function with your data.</p>

		<p>The axes are automatically scaled.</p>

	</div>

	<div id="footer">
		Copyright &copy; 2013 ORCHID
	</div>
</body>
</html>

                                        
