<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>HACKDAY</title>
	<link href="/test.css" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/jquery.flot.js"></script>
	<script type="text/javascript">

	$(function() {
		var temphist = [
		{% for timestamp in history: %}
			[{{timestamp}},{{history[timestamp]}}],
		{% endfor %}
		];

		var sethist = [
		{% for timestamp in setpoints: %}
			[{{timestamp}},{{setpoints[timestamp]}}],
		{% endfor %}
		];

		$.plot("#placeholder", [ temphist, sethist]);
	});

	</script>
</head>
<body>
	<div id="header">
		<h2>history</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" style="width:800px; height:500px"></div>
		</div>

		<p>current temp: {{current_temp}}</p>
		<p>set temp: <input id="settemp" type="text">
		<input id="submit" type="submit" value="Submit"></p>

	</div>
</body>
</html>

                                        
